@{
    ViewData["Title"] = "Informacje";
}

<link rel="stylesheet" href="~/css/info.css" />

<div class="main-container">
    <h2 class="main-title">
        Informacje
    </h2>
    <p class="info-main">
        Strona korzysta z miniaturek i opisu filmów zapożyczonych ze stron trzecich,
        na potrzeby projektu zaliczeniowego.
    </p>
</div>
<div class="main-container mn2">
    <h2 class="main-title">
        Wykonali
    </h2>
    <p class="info-main">
        Damian Faltynowski 55DP | 77675<br />
        Mateusz Plata 55DP | 77676
    </p>
</div>
